.bottom-nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.bottom-nav a {
    text-align: center;
    color: #666;
}

.bottom-nav a.active {
    color: #4e75ba;
}

.bottom-nav .selected {
    color: #4e75ba;
}

.bottom-nav i {
    display: block;
}

.bottom-nav span {
    font-size: 0.7rem;
}